@model SecuritySystemsManagerMVC.ViewModels.LocationEditVm

@{
    ViewData["Title"] = "Create Location";
}

@section Styles {
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
    <link rel="stylesheet" href="~/css/locations.css" />
}

<div class="card">
    <div class="card-header">
        <h5 class="mb-0"><i class="bi bi-geo-alt me-2"></i>Create New Location</h5>
    </div>
    <div class="card-body">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Name" class="form-control" placeholder="Name" />
                        <label asp-for="Name">Name</label>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Address" class="form-control" id="addressInput" placeholder="Address" />
                        <label asp-for="Address">Address</label>
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Latitude" class="form-control" id="latitudeInput" placeholder="Latitude" />
                        <label asp-for="Latitude">Latitude</label>
                        <span asp-validation-for="Latitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating">
                        <input asp-for="Longitude" class="form-control" id="longitudeInput" placeholder="Longitude" />
                        <label asp-for="Longitude">Longitude</label>
                        <span asp-validation-for="Longitude" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="mb-3">
                <div class="form-floating">
                    <textarea asp-for="Description" class="form-control" placeholder="Description" style="height: 100px"></textarea>
                    <label asp-for="Description">Description</label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            
            <div class="mb-3">
                <div class="d-flex justify-content-end mb-2">
                    <button type="button" class="btn btn-sm btn-outline-primary" id="toggleMapLayersBtn">
                        <i class="bi bi-layers me-1"></i> Toggle Map Layers
                    </button>
                </div>
                <div id="createLocationMap" style="height: 400px; width: 100%; border-radius: 8px;"></div>
            </div>
            
            <div class="d-flex justify-content-between">
                <a asp-action="List" class="btn btn-secondary">
                    <i class="bi bi-arrow-left me-2"></i>Back to List
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-save me-2"></i>Create
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="~/js/locations.js"></script>
    <script src="~/js/locations-create.js"></script>
} 